<div fxLayout="column" fxLayoutAlign="space-around center" style="padding: 0px;">
  <div mat-dialog-content fxFlex="100" style=" text-align: center; margin-right: 33px;" cdkFocusInitial>
    <mat-icon *ngIf="type=='WARN'" style="font-size: 50px; color: #FF8F39;">warning</mat-icon>
    <mat-icon *ngIf="type=='INFO'" style="font-size: 50px; color: #89A7E0;">info_outline</mat-icon>
    <mat-icon *ngIf="type=='ERROR'" style="font-size: 50px; color: #ee5151;">highlight_off</mat-icon>
  </div>
  <div *ngIf="type=='LOADING'" mat-dialog-content fxFlex="100" style="overflow: hidden;">
    <mat-spinner></mat-spinner>
  </div>
  <div mat-dialog-content fxFlex="100" [innerHTML]="message" style="text-align: center; height: 25px;"></div>

  <div mat-dialog-content fxLayout="column" fxLayoutAlign=" none" style="text-align: center;">
    <button mat-button *ngIf="type=='WARN'" style="background: #FF8F39;" fxFlex="100" [mat-dialog-close]="true">ปิด
    </button>
    <button mat-button *ngIf="type=='INFO'" style="background: #89A7E0;" fxFlex="100" [mat-dialog-close]="true">ปิด
    </button>
    <button mat-button *ngIf="type=='ERROR'" style="background: #ee5151;" fxFlex="100" [mat-dialog-close]="true">ปิด
    </button>
  </div>

</div>
